# API Gateway
UDP_HOST=0.0.0.0
UDP_PORT=9001
FILESERVER_URL=http://fileserver:9000

# File Server
STORAGE_PATH=/data

# Keycloak — descomentiá cuando integres auth completo
# KEYCLOAK_URL=http://auth:8080
# KEYCLOAK_REALM=myrealm
# KEYCLOAK_CLIENT_ID=api-client
# KEYCLOAK_CLIENT_SECRET=changeme
